/* footer */

#footer-logo-div{
    margin-left: 20px;
}
#footer-logopic{
    height: 50px;
}
footer{
    width: 90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#footer-details{
    /* background: #222; */
    font-family: raleway,sans-serif;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
}
#footer-details >div> h1{
    font-family: kaushan script,cursive;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}
#footer-details > div > p{
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
}

#footer-details > .footer-links > p{
    font-size: 13px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
}

/* footer */